<div class="text-center">
    <h1 class="text-info">Информация о заказе</h1>
    <p>Мы получили Ваш запрос и в скором времени кто-либо из нашей команды свяжется с Вами</p>
    <img src="/images/patio.jpg" width="80%" />
</div>